body{
    font-family: $font_family, sans-serif;
    font-size: 16px;
    color: $text_color;
}
*, *::before, *::after{
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.col-2{
    grid-column: span 2;
}
.col-5{
    grid-column: span 5;
}
.col-7{
    grid-column: span 7;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.btn{
    display: inline-block;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    background: $secondary_color;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background ease 0.2s;
    -webkit-transition: background ease 0.2s;
    -moz-transition: background ease 0.2s;
    -ms-transition: background ease 0.2s;
    -o-transition: background ease 0.2s;
    
}
.btn:hover{
    background: rgba($secondary_color, 0.9);
}
p{
    line-height: 1.5;
}
.section-padding{
    padding: 7rem 0 5rem 0;
}
.section-heading{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-bottom: 3rem;
}
.small-heading{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: $text_color_secondary;
    margin-bottom: 1rem;
}
.small-para{
    font-weight: 400;
    color: $text_color_teritiary;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 2;
}
.flex-column-center-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.flex-column-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-bottom-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}