// Main header
.main-header-container {
    background-color: $primary_color;
    padding: 3rem 0 4rem 3rem;
}
.upper-container {
    border-bottom: 1px solid #8bb4df;
}
.logo-link {
    color: #333;
    font: {
        size: 1.7rem;
        weight: 300;
    }
    padding: 2px 0;
    text-decoration: none;
    .logo-special {
        font: { 
            size: 3rem;
            weight: 700;
        }
        color: #fff;
        text-shadow: 3px 1px 3px rgba(19, 18, 18, 0.19);
    }
}
.logo-label {
    display: block;
    font: {
        size: 0.7rem;
        weight: 600;
    }    
    letter-spacing: 4px;
    padding: 0.8rem 0;
    color: #5b7a9a;
    text-transform: uppercase;
    text-shadow: 3px 1px 3px rgba(78, 73, 73, 0.21);
}

.header-icon {
    font-size: 1.2rem;
    color: #fff;
    margin-right: 0.5rem;
}
.sign-in-link, .sign-up-link {
    font-size: 1.05rem;
    color: $text_color_secondary;
    padding: 1rem 1rem;
    text-decoration: none;
    margin-top: 0.6rem;
    letter-spacing: 1px;
}

.down-container {
    margin: 1rem 0;
}
.header-list-container {
    display: flex;
}
.header-list-item {
    font: {
        size: 0.8rem;
        weight: 400;
    }
    letter-spacing: 2px;
    margin: 0 1rem;
    // margin-right: 2.5rem;
    text-transform: uppercase;
    .header-list-link {
        color: #515152;
        text-decoration: none;
        .dropdown-icon {
            font-size: 0.7rem;
            color: #fff;
            padding: 0 0.5rem;
        }
        &:hover {
            color: $secondary_color;
        }
    }
    .active {
        color: $secondary_color;
    } 
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.6rem 6rem 0.6rem 2rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: $secondary_color;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: $secondary_color;} 


.form-control {
    background-color: #fff;
    padding: 0;
    // padding: 1rem 6rem 1rem 1rem;
    .nav-search-input {
        font-size: 0.9rem; 
        color: $text_color_secondary;
        letter-spacing: 2px;
        padding: 1rem 5rem 1rem 1rem;
        border: 0;
    }
    .nav-search-btn {
        padding:0.6rem 1.2rem;
        margin-right: 0.5rem;
        background-color: $secondary_color;
        border: none;
        .search-icon {
            color: #fff;
        }
    }
}

.nav-search-input:focus  {
    border: 1px solid #dc3545;
}