.login-page{
    .lock{
      font-size: 3rem;
      padding: 2.5rem 0;
      color: #888;
    }
    .center {
      text-align: center;
    }
    .form {
      font-size: 16px;
      font-weight: 300;
      color: #888;
      letter-spacing: 1px;
      border: none;
      box-sizing: border-box;
      outline: none;
      background: rgba(0, 123, 255, 0.06);
      margin-bottom: 20px;
      padding: 15px 35px;
      border-radius: 0px;
    }

    .color {
      background: red;
      color: white;
      text-transform: uppercase;
      text-align: center;
    }
    .btn {
      height:1rem;
      width:2rem;
      border-radius:35%;
      border: none;
    }
    .login {
      text-transform:capitalize;
      color: #888;
      line-height: 2rem;
      padding-left: 0.2rem;
    }
    .account {
      font-size: 0.8rem;
      text-transform:uppercase;
      color:black;
      word-spacing: 0.3rem;
      line-height: 2.5;
    }
    .pading{
        padding-left: 10.5rem;
        text-align: center;
    }
    .buten {
      padding: 0.9rem 6.8rem;
      background: red;
      color: white;
      text-align: center;
      border: none;
      text-transform: uppercase;
    }
    .signup{
      text-align: center;
    }
    .help {
      color: #888;
      padding-left: 1rem;
    }
    .dot {
      position: absolute;
      left: 0.15rem;
      top: 0.15rem;
      height: 0.7rem;
      width: 0.7rem;
      background-color: #333333;
      border-radius: 50%;
      display: inline-block;
      transition: all ease-in 0.5s;
    }
    .btn-checkbox{
      position: relative;
      display: inline-block;
      border-radius: 1rem;
      height: 1rem;
      width: 2rem;
      background: lightgray;
      transition: all ease-in 0.5s;
    }
    #keep_logged_in:checked ~ .dot{
      right: 0.15rem;
      left: unset;
    }
    .button_toggle{
      display: none;
    }
}