.shop-section{
    padding: 4rem 1rem;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.product{
    background: $secondary_background;
}
.product-img-container{
    padding: 1rem;
}
.product-img{
    width: 100%;
}