.shop-section{
    padding: 4rem 1rem;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.product{
    background: $secondary_background;
    padding: 1rem;
}
.product-img-container{
    padding: 1rem;
}
.product-img{
    width: 100%;
}
.product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 0 1rem 0;
    text-align: center;

    .product-name{
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $dark_black;
        text-align: center;
        letter-spacing: 0.05rem;
    }
    .p-rule{
        border-top: 0.5px solid #dddddd;
        width: 100%;
        margin: 1rem 0;
    }
    .price{
        font-size: 1.1rem;
        font-weight: 600;
        color: $secondary_color;
        letter-spacing: 0.075rem;
        .actual-price{
            font-weight: 300;
            color: $text_color_teritiary;
            text-decoration: line-through;
        }
    }
    .rating{
        display: flex;
        justify-content: center;
        margin: 0.5rem 0 1rem 0;
        li{
            color: $text_color_secondary;
            font-size: 0.6rem;
            margin: 0 0.25rem;
        }
    }
}
// Pagination Links
.pagination{
    .pagination-link-list{
        margin: 3rem 0 0 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        .pagination-link{
            font-weight: 400;
            font-size: 0.9rem;
            border: 1px solid #dddddd;
            padding: 0.6rem 0.75rem;
            text-transform: uppercase;
            color: $textDark;
            margin-right: 1rem;
            cursor: pointer;
            transition: color, background ease 0.2s;
            -webkit-transition: color, background ease 0.2s;
            -moz-transition: color, background ease 0.2s;
            -ms-transition: color, background ease 0.2s;
            -o-transition: color, background ease 0.2s;
}
        .pagination-link:hover{
            background: #e9ecef;
            color: #007bff;
        }
    }
}
@media all and (max-width: 992px){
    .products-container{
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media all and (max-width: 768px){
    .products-container{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media all and (max-width: 400px){
    .products-container{
        grid-template-columns: repeat(1 , 1fr);
    }
}