/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  color: #333333; }

*, *::before, *::after {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

.col-2 {
  grid-column: span 2; }

.col-5 {
  grid-column: span 5; }

.col-7 {
  grid-column: span 7; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
  background: #ec1c24;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background ease 0.2s;
  -webkit-transition: background ease 0.2s;
  -moz-transition: background ease 0.2s;
  -ms-transition: background ease 0.2s;
  -o-transition: background ease 0.2s; }

.btn:hover {
  background: rgba(236, 28, 36, 0.9); }

p {
  line-height: 1.5; }

.section-padding {
  padding: 7rem 0 5rem 0; }

.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-bottom: 3rem; }

.small-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #4c4d4e;
  margin-bottom: 1rem; }

.small-para {
  font-weight: 400;
  color: #777777;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 2; }

.flex-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }

.flex-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }

.hero-section {
  background: #74d2e7; }
  .hero-section .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }

.site-heading {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }
  .site-heading span {
    display: block;
    color: #fff; }

.hero-info {
  padding: 5rem 0; }

.features-section .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.feature {
  padding: 4rem 2rem;
  text-align: center; }

.banner2-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #f7f7f7; }

.banner2-img-container {
  background: url("../media/banner1.jpg") no-repeat center center;
  background-size: cover;
  height: 30rem; }

.banner2-description {
  text-align: center;
  padding: 4rem 2rem; }

.buy-section-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .buy-section-collection .collection-img-container {
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .buy-section-collection .collection-img1 {
    background-image: url("../media/c1.jpg"); }
  .buy-section-collection .collection-img2 {
    background-image: url("../media/c2.jpg"); }
  .buy-section-collection .collection-description {
    text-align: center;
    padding: 4rem 2rem; }

.offer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.offer-banner {
  height: 28rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4rem 3rem; }

.offer-banner1 {
  background-image: url("../media/ab1.jpg"); }

.offer-banner2 {
  background-image: url("../media/ab2.jpg"); }

.offer-para {
  font-size: 2rem;
  color: #fff;
  font-weight: 300; }

.trending-section .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; }

.trending-description {
  text-align: center;
  padding: 1rem 1rem; }

.trending-product-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr); }

.trending-product-img {
  width: 100%;
  height: auto; }

@media all and (max-width: 768px) {
  .features-section .wrapper {
    grid-template-columns: 1fr; }

  .banner2-section {
    grid-template-columns: 1fr; }

  .buy-section-collection {
    grid-template-columns: 1fr; }

  .offer-section {
    grid-template-columns: 1fr; }

  .trending-product-container {
    grid-template-columns: 1fr; }

  .trending-section .wrapper {
    grid-template-columns: 1fr; } }
.about-us-section .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.about-heading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #4c4d4e;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem; }

.baggage-img {
  width: 100%;
  padding: 3rem 1rem 0 1rem; }

@media all and (max-width: 768px) {
  .about-us-section > .wrapper {
    grid-template-columns: repeat(1, 1fr); }

  .about-us-section .flex-column-center-start {
    align-items: center; } }
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

.main-header-container {
  background-color: #8bb4df;
  padding: 3rem 0 4rem 3rem; }

.upper-container {
  border-bottom: 1px solid #8bb4df; }

.logo-link {
  color: #757575;
  font-size: 2.3rem;
  font-weight: 300;
  padding: 2px 0;
  text-decoration: none; }
  .logo-link .logo-special {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 1px 3px rgba(19, 18, 18, 0.19); }

.logo-label {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 0.8rem 0;
  color: #5b7a9a;
  text-transform: uppercase;
  text-shadow: 3px 1px 3px rgba(78, 73, 73, 0.21); }

.header-icon {
  font-size: 1.2rem;
  color: #fff;
  margin-right: 0.5rem; }

.sign-in-link, .sign-up-link {
  font-size: 1.05rem;
  color: #4c4d4e;
  padding: 1rem 1rem;
  text-decoration: none;
  margin-top: 0.6rem;
  letter-spacing: 1px; }

.down-container {
  margin: 1rem 0; }

.header-list-container {
  display: flex; }

.header-list-item {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 1rem;
  text-transform: uppercase; }
  .header-list-item .header-list-link {
    color: #747474;
    text-decoration: none; }
    .header-list-item .header-list-link .active {
      color: #ec1c24; }
    .header-list-item .header-list-link .dropdown-icon {
      font-size: 0.7rem;
      color: #fff;
      padding: 0 0.5rem; }
    .header-list-item .header-list-link:hover {
      color: #ec1c24; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 0.6rem 6rem 0.6rem 2rem;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  color: #ec1c24; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  color: #ec1c24; }

.form-control {
  background-color: #fff;
  padding: 0; }
  .form-control .nav-search-input {
    font-size: 0.9rem;
    color: #4c4d4e;
    letter-spacing: 2px;
    padding: 1rem 6rem 1rem 1rem;
    border: 0; }
  .form-control .nav-search-btn {
    padding: 0.6rem 1.2rem;
    margin-right: 0.5rem;
    background-color: #4c4d4e;
    border: none;
    border-radius: 0.3rem; }
    .form-control .nav-search-btn .search-icon {
      color: #fff; }

.contact-heading {
  color: #000;
  font-size: 2.55rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 5rem 0 3rem 0; }

.contact-content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }

.contact-form-container {
  padding: 3rem;
  border: 1px solid rgba(131, 131, 131, 0.2);
  background-color: white;
  border-radius: 0.05rem; }
  .contact-form-container .form-container .user-input {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    color: #888;
    background-color: rgba(0, 123, 255, 0.06);
    padding: 1.2rem 16rem 1.2rem 1rem;
    margin: 0.7rem 0;
    border: 0; }
  .contact-form-container .form-container .message {
    padding: 1.2rem 16rem 1.2rem 1rem; }
  .contact-form-container .form-container .form-submit-btn {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.07rem;
    color: #fff;
    background-color: #ec1c24;
    padding: 1rem 13rem;
    border: 0;
    text-transform: uppercase; }

.map-container {
  background-color: white;
  padding: 2rem;
  border: 1px solid rgba(131, 131, 131, 0.2); }
  .map-container .map {
    height: 100%;
    width: 100%; }

.contact-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
  margin: 2rem 0; }

.contact-info-item {
  margin: 1rem;
  padding: 1rem; }
  .contact-info-item .info-icon {
    font-size: 1.4rem;
    float: left;
    margin-top: 0.3rem; }

.contact-info-heading {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-left: 1.8rem; }

.contact-info-text {
  color: #777;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.7rem;
  text-transform: capitalize;
  margin: 1rem 0; }

.contact-info-text {
  color: #777; }

.contact-info-text2, .contact-info-link {
  color: #ec1c24;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none; }
  .contact-info-text2 .contact-info-special, .contact-info-link .contact-info-special {
    color: #777; }

@media all and (max-width: 768px) {
  .contact-content-container {
    grid-template-columns: 1fr;
    place-items: center; }

  .contact-info-container {
    grid-template-columns: 1fr; } }

/*# sourceMappingURL=main.css.map */
